.lobby-item {
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #ddd;
    color: #333;
    margin: 0 10px 0 10px;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    transition: 200ms all ease;
    text-decoration: none;    
    margin-bottom: 15px;

    &:hover {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    }

    h1 {
        font-size: 24px;
        margin: 0 0 10px;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
    }

    .lobby-detail {
        display: flex;
        justify-content: space-between;

        span {
            margin: 0;
        }

        .player-count {
            font-weight: bold;
        }

        .active-player {
            color: green;
        }

        .passive-player {
            color: red;
        }
    }
}
