.modal-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 50;
}

.modal {
    position: absolute;
    z-index: 51;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ddd;
    color: #333;
    border-radius: 5px;
    min-width: 300px;

    .modal-head {
        margin-bottom: 25px;

        &:after {
            content: "";
            width: 100%;
            border-bottom: 1px solid #333;
        }
    }

    .modal-body {
        padding: 20px;
    }
}

.lobby-form {
    display: flex;
    flex-direction: column;

    .form-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 15px;

        span {
            &:first-child {
                font-weight: 600;
            }
        }

        input[type="text"],
        input[type="password"] {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }

        .lobby-password {
            -webkit-text-security: disc;
        }

        input[type="radio"] {
            & ~ span {
                user-select: none !important;
            }
        }
    }
}
