*,
*::before,
*::after {
    box-sizing: border-box; // 1
}

.center {
    text-align: center;
    margin: 0 auto;
}

.lobbies {
    display: flex;
    flex-direction: column;

    .lobby-list {
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
