.lobbies {
    display: flex;
    flex-direction: column;

    span {
        margin-bottom: 20px;
    }

    .lobby-list {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
